<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>农地供奉</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css" />
</head>
<body>
<div class="admin" style="width: 100%; height: 100%;">
    <include file="Common@Common:sidebar" />
    <div class="content-page" style="position: absolute; left: 15%; width:85%;">
        <!-- 标题 -->
        <div class="title" style="margin-top: 35px; margin-left: 10px;">
            <h2 style="display: inline-block; margin-top: 5px;">农地供奉</h2>
            <a href="{:U('Home/Basic/basicWorshipFishpond')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">鱼塘供奉</h2></a>
            <a href="{:U('Home/Basic/basicWorshipForest')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">森林供奉</h2></a>
            <a href="{:U('Home/Basic/basicWorshipMine')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">矿洞供奉</h2></a>
            <a href="{:U('Home/Basic/refreshWorship')}" onClick="return confirm('确定刷新吗?');" style="font-size:14px;margin-left: 40px;">刷新供奉</a>
        </div>
        <!-- 内容 -->
        <div class="basic-worship-farmland" style="overflow: hidden">
            <table id="mytable" style="width: 100%;" border="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>农地供奉物品</th>
                    <th>定价</th>
                    <!-- <th>持续时间</th> -->
                    <th>序列号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <foreach name="worship" item="w">
                        <tr>
                            <td class="worship_id">{$w['id']}</td>
                            <td>[{$w['name']}]</td>
                            <td>[{$w['price']}]</td>
                            <!-- <td>{$w['day']}</td> -->
                            <td>{$w['serial']}</td>
                            <td>未提交</td>
                            <td><button class="delete_worship" style="border: none; border: 1px solid gray; border-radius: 5px;">删除</button></td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <!-- 分页 -->
            <div style="margin-top: 10px;">
                <span id="btn0"></span>
                <!-- <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()" style="margin-top: -5px;" /><span> 条 </span> <a href="#" id="pageSizeSet">设置</a> -->
                <span id="sjzl"></span>
                <a  href="#" id="btn1">首页</a>
                <a  href="#" id="btn2">上一页</a>
                <a  href="#" id="btn3">下一页</a>
                <a  href="#" id="btn4">尾页</a>
                <span>转到 </span>
                <input id="changePage" type="text" size="1" maxlength="4" style="margin-top: -5px;" />
                <span>页 </span>
                <a  href="#" id="btn5">跳转</a>
            </div>
            <!-- <table id="closing_price_table" style="display: none;">
                <foreach name="close_price" item="cp">
                    <tr>
                        <td>{$cp['id']}</td>
                        <td>{$cp['closePrice']/10}</td>
                    </tr>
                </foreach>
            </table> -->
            <!-- <span>当前服务器供奉期次为 <b style="color: red;">{$selectid}</b></span> -->
            <div id="edit_page">
                <i class="am-icon-plus-circle" id="goadd_btn" style="font-size: 70px; margin-left: 10px; cursor: pointer;"></i>
                <span>当前添加第 <b id="current_number">{$max_sid}</b> 期</span><span>（已提交 <b>{$max_sid-1}</b> 期）</span>
                <b style="color: red;">本期所有数据添加完成之后，方可点击提交到服务器(意味着本期操作结束)</b>
                <div id="add_input" style="display: none; border: 1px solid #5697B5; width: 600px; border-radius: 10px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; margin-top: 20px;">
                    <form action="#" method="post" id="addform">
                        <p>
                            <span style="display: inline-block; width: 120px;">农地供奉物品</span>
                            <input type="" name="name" readonly="readonly" id="itemid_input" required="required" placeholder="下拉框选择(不能为空)" style="margin-left: 5px;">
                            <select id="select_itemid">
                                <option val="">请选择供奉物品</option>
                                <foreach name="products" item="p">
                                    <option value="{$p['pid']}">{$p['name']}</option>
                                </foreach>
                            </select>
                            <span id="clear_itemid" style="display: inline-block; font-size: 12px; cursor: pointer; border: 1px solid gray; border-radius: 5px; width: 40px; text-align: center;">清空</span>
                        </p>

                        <!-- <p>
                            <span class="closing_price" style="display: inline-block; width: 120px;">收盘价</span>
                            <input class="closing_price_input" type="hidden" name="close_price" value="">
                        </p> -->

                        <p>
                            <span class="pricing" style="display: inline-block; width: 120px;">定价</span>
                            <input class="pricing_input" type="hidden" name="price">
                        </p>

                        <!-- <p>
                            <span class="worship_number" style="display: inline-block; width: 120px;">农地供奉数量</span>
                            <input class="worship_number_input" type="hidden" name="number" value="">
                        </p> -->
                        <!-- <p>
                            <span style="display: inline-block; width: 120px;">供奉天数</span>
                            <input class="worship_days" type="" name="day" style="margin-left: 5px;">
                            <input type="hidden" value="{$max_sid}" name="max_sid" id="sid">
                        </p> -->
                        <input type="hidden" value="{$max_sid}" name="max_sid" id="sid">
                        <input class="add_worship" type="submit" value="添加" style="margin-bottom: 10px;">
                        <input type="button" name="" value="取消" style="margin-left: 20px; margin-bottom: 10px;" id="cancel_add"><br>
                    </form>
                </div>
                <button style="background: #377896; float: right; margin-top: 35px; border: 1px solid gray; border-radius: 10px; height: 40px; color: white" id="worship_submit">提交到服务器</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/ipaddress.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/basic/worshipFarmland.js"></script>
<script type="text/javascript">
    $('#collapse-nav8').addClass('am-in');
</script>
<script type="text/javascript" src="__PUBLIC__/assets/js/nav.js"></script>
</body>
</html>
