<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产出表</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css" />
</head>
<body>
<div class="admin" style="width: 100%; height: 100%;">
    <include file="Common@Common:sidebar" />
    <div class="content-page" style="position: absolute; left: 15%; width:85%;">
        <!-- 标题 -->
        <div class="title" style="margin-top: 35px; margin-left: 10px;">
            <h2 style="display: inline-block; margin-top: 5px;">产出表</h2>
            <a href="{:U('Home/Basic/basicOutputList1')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">产出表1</h2></a>
            <a href="{:U('Home/Basic/basicOutputList2')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">产出表2</h2></a>
            <a href="{:U('Home/Basic/basicOutputList3')}" style="color: gray; margin-left: 20px;"><h2 style="display: inline-block;">产出表3</h2></a>
        </div>
        <!-- 内容 -->
        <div class="basic-output-list">
            <table id="mytable" style="width: 100%;" border="1">
                <thead>
                <tr>
                    <th>区域</th>
                    <th>产物种类数量</th>
                    <th>一级地产出概率</th>
                    <th>二级地产出概率</th>
                    <th>三级地产出概率</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <foreach name="items" item="i">
                        <tr>
                            <td><input type="hidden" name="mid" value="{$i['_id']}"><span>{$i['land']}</span></td>
                            <td>{$i['productTypeNumber']}</td>
                            <td>{$i['lv1LandProbability']}</td>
                            <td>{$i['lv2LandProbability']}</td>
                            <td>{$i['lv3LandProbability']}</td>
                            <td class="edit" style="cursor: pointer; color: #0E90D2">编辑</td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
            <!-- 编辑区域 -->
            <div class="edit_area" style="background: #54A1D7; width: 360px; padding-bottom: 10px; position: absolute; top: 30%; border-radius: 10px; left: 50%; margin-left: -160px; padding-left: 10px; display: none;">
                <h3 style="text-align: center;">编辑</h3>
                <p>
                    <span style="display: inline-block; width: 120px;">区域</span>
                    <input type="" name="" readonly="readonly">
                </p>
                <p>
                    <span style="display: inline-block; width: 120px;">产品种类数量</span>
                    <input type="" name="" readonly="readonly">
                </p>
                <p>
                    <span style="display: inline-block; width: 120px;">一级地产出概率</span>
                    <input type="" name="">
                </p>
                <p>
                    <span style="display: inline-block; width: 120px;">二级地产出概率</span>
                    <input type="" name="">
                </p>
                <p>
                    <span style="display: inline-block; width: 120px;">三级地产出概率</span>
                    <input type="" name="">
                </p>
                <button class="edit_submit" style="margin-left: 120px; border: 1px solid gray; border-radius: 5px;">确定</button><button id="edit_cancel" style="margin-left: 30px; border: 1px solid gray; border-radius: 5px;">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/ipaddress.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/basic/outputList.js"></script>
<script type="text/javascript">
    $('#collapse-nav8').addClass('am-in');
</script>
<script type="text/javascript" src="__PUBLIC__/assets/js/nav.js"></script>
</body>
</html>
