<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品列表</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css" />
</head>
<body>
<div class="admin" style="width: 100%; height: 100%;">
    <include file="Common@Common:sidebar" />
    <div class="content-page" style="position: absolute; left: 15%; width:85%;">
        <div class="basic-packs-settings">
            <h3>成就设置</h3>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
    $('#collapse-nav8').addClass('am-in');
</script>
<script type="text/javascript" src="__PUBLIC__/assets/js/nav.js"></script>
</body>
</html>
