<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活动管理</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css" />
</head>
<body>
<div class="admin" style="width: 100%; height: 100%;">
    <include file="Common@Common:sidebar" />
    <div class="content-page" style="position: absolute; left: 15%; width:85%;">
        <h3>活动管理</h3>
        <div class="activity-management">
            <table id="mytable" style="width: 100%;" border="1">
                <thead>
                <tr>
                    <th style="width: 25%;">ID</th>
                    <th style="width: 25%;">分类</th>
                    <th style="width: 25%;">内容</th>
                    <th style="width: 25%;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>充值</td>
                    <td>充值优惠</td>
                    <td>
                        <a href="activity_modify.html">修改</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>充值</td>
                    <td>充值优惠</td>
                    <td>
                        <a href="activity_modify.html">修改</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>充值</td>
                    <td>充值优惠</td>
                    <td>
                        <a href="activity_modify.html">修改</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/assets/js/page.js"></script> -->
<script type="text/javascript">
    $('#collapse-nav4').addClass('am-in');
</script>
<script type="text/javascript" src="__PUBLIC__/assets/js/nav.js"></script>
</body>
</html>
