<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品列表</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/admin.css" />
</head>
<body>
<div class="admin" style="width: 100%; height: 100%;">
    <include file="Common@Common:sidebar" />
    <div class="content-page" style="float: left; width: 85%;">
        <div class="title">
            <a href="market_products.html" style="color: gray;">产品列表</a>
            <span style="margin-left: 20px;">新增产品</span>
        </div>
        <div class="market-add-products">
            <p>
                <span>产品名称</span>
                <input type="text">
            </p>
            <p>
                <span>产品图片</span>
            </p>
            <p>
                <span>初始价格</span>
                <input type="text">
            </p>
            <p>
                <span>状态</span>
                <select name="" id="">
                    <option>启用</option>
                    <option>禁用</option>
                </select>
            </p>
            <p>
                <span>种子周期/小时</span>
                <input type="" name="">
            </p>
            <p>
                <span>发芽周期/小时</span>
                <input type="" name="">
            </p>
            <p>
                <span>生长周期/小时</span>
                <input type="" name="">
            </p>
            <button>添加</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
    $('#collapse-nav1').addClass('am-in');
</script>
<script type="text/javascript" src="__PUBLIC__/assets/js/nav.js"></script>
</body>
</html>
