<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div style="position: absolute; width: 400px; height:200px; background: darkgray; margin: 0 auto; text-align: center; top: 50%; margin-top: -200px; left: 50%; margin-left: -200px; border-radius: 5px;">
    <h2>登录</h2>
    <form action="{$url}" method="post">
        <p style="margin-left: -20px;">
          <span style="display: inline-block; width:80px; text-align:right">用户名：</span><input type="text" name="username" style="border: none; border: 1px solid gray; height: 24px; text-indent: 5px;" />
        </p>
        <p style="margin-left: -20px;">
          <span style="display: inline-block; width:80px; text-align:right">密码：</span><input type="password" name="password" style="border: none; border: 1px solid gray; height: 24px; text-indent: 5px;" />
        </p>
        <input type="submit" value="登录" style="width: 80px; height: 26px; color: white; background: #00A4FF; border: none; border: 1px solid #00A4FF; border-radius: 5px;">
        <!--验证码：-->

    </form>
  </div>
</body>
</html>
